@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/**{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }*/


#cabezera{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    background-color: #ffffff;
}


#cabezera > h1{
    color: brown;
    font-size: 25px;
}

#cabezera > nav{
    display: flex;
    column-gap: 60px;
}

nav > a{
    text-decoration: none;
    color:black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*#boton_compra{
    color: blanchedalmond;
    background-color: black;
    width: fit-content;
    padding: 7px 25px;
    border-radius: 30px;
}*/

#presentacion{
    height: 80vh;
}

#objetos{
    height: 100vh;
    background-color: ;
}

#objectos > h2{
    color: brown;
    font-size: 25px; 
}


.slide{
    margin-top: 5px; 
}

.slide img{
    height: 75vh;
}

#titulo_slide1{
    color: deeppink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
    -webkit-text-stroke: 2px black;
    font-family: "Satisfy", cursive;
    font-weight: 320;
    font-style: normal
}

#titulo_slide2{
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    word-spacing: 15px;
    -webkit-text-stroke: 1px black;
    font-family: "Satisfy", cursive;
    font-weight: 320;
    font-style: normal
}


#tarjetas{
    height: 100vh;
}

#titulo_tarjetas{
    color: chocolate;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: 2px black;
}

.title{
    display: flex;
    justify-content: right;
    flex-direction: column;
}



.contenedor{
    display: flex;
    justify-content: center;   
}

.card_wrapper{
    display: flex;
}

.card{
    margin: 0 .5em;
    width: calc(100%/3);
    border: none;
    border-radius: 0 ;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.image_wrapper{
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.carousel_inner{
    padding: 0;
}

.carousel_control-prev{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;

}

.card-title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
